.body-container {
    margin-top: -16px;
    background-color: #f2f2f2;
}

.body-container .container {
    background: #fff;
    padding: 0 10px;
    padding-top: 52px;
    width: 1200px;
    margin: 0 auto;
}

.grid-members {
    width: 850px;
    margin: 0 auto 50px;
    display: flex;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.grid-members .grid-item:nth-child(1) {
    flex-basis: 400px;
    background-color: #eeeeee;
}

.grid-members .grid-item:nth-child(1) p {
    padding: 0 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #FF6700;
    text-transform: uppercase;
}

.grid-members .grid-item:nth-child(1) ul {
    padding: 0 20px;
    list-style-type: none;
    margin: 0 0 15px 0;
}

.grid-members .grid-item:nth-child(1) ul li {
    display: flex;
    margin-bottom: 10px;
}

.grid-members .grid-item:nth-child(1) ul li img {
    margin-right: 10px;
}

.grid-members .grid-item:nth-child(2) {
    flex-basis: 450px;
    padding: 30px;
}

.grid-members .grid-item .top-title {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.grid-members .grid-item .top-title span {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    color: #444;
    border-bottom: 1px solid #DDDDDD;
    transition: 0.1s ease-in-out;
}

.grid-members .grid-item .top-title span:hover {
    color: #FF6700;
}

.grid-members .grid-item .top-title span.active {
    font-weight: bold;
    color: #FF6700;
    border-color: #FF6700;
}

.grid-members .grid-item form .box {
    margin-bottom: 15px;
}

.grid-members .grid-item form .box input {
    padding: 5px 20px;
    color: #333333;
    font-size: 14px;
    height: 40px;
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.grid-members .grid-item form .box.box-right {
    text-align: right;
}

.grid-members .grid-item form .box .forgot-password {
    font-size: 14px;
    color: #FF6700;
    transition: 0.1s ease-in-out;
}

.grid-members .grid-item form .box .forgot-password:hover {
    color: #20863D;
}

.grid-members .grid-item form .box .submit-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6700;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
}

.grid-members .grid-item form .box .submit-btn:hover {
    background: #F9920F;
}

.grid-members .grid-item .wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 15px;
    color: #333;
    justify-content: space-between;
    line-height: normal;
}

.grid-members .grid-item .wrapper span {
    width: 100px;
    height: 1px;
    background: #ddd;
}

.grid-members .grid-item .log-social {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-top: 20px;
    transition: 0.1s ease-in-out;
}

.grid-members .grid-item .log-social.log-google {
    background: #D54B3D;
}

.grid-members .grid-item .log-social.log-facebook {
    background: #1877F2;
}

.grid-members .grid-item .log-social:hover {
    color: #fff;
    opacity: 0.8;
}

.grid-members .grid-item .log-social span {
    position: absolute;
    left: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.grid-members .grid-item .note {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#alert-success, #alert-error{
    position: fixed;
    width: 50vw;
    top: 100px;
    left: 50%;
    z-index: 10;
    text-align: center;
    color: white;
    font-weight: bold;
    transform: translateX(-50%);
    animation: showAlert 1.5s ease-in-out 1 forwards;
    display: none;
}
.alert-error{
    background-color: #D54B3D !important;
}
.alert-success{
    background-color: #20863D !important;
}
.alert-warning{
    background-color: #f58a1e !important;
}

@keyframes showAlert {
    0%{
        opacity: 1;
    }95%{
        transform: translateX(0);
    }100%{
        transform: translateX(300%);
        opacity: 0.8;
    }
}