.content-card{
    padding: 20px;
    height: 150px;
  

}

.user-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 10px;
   font-weight: 700;
   box-shadow: 2px 2px 8px rgb(213, 213, 213);
}
.user-icon{
    padding: 10px;
    border-radius: 100%;
}