body{
    background-color: #1c8ef8;
    font-family: sans-serif;
}

.login{
    width: 330px;
    height: 350px;
    background-color: white;
    border: 1px solid #808080;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
}
.login h2{
    display: inline-block;
    color: grey;
}
.login input{
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 5px;
}
.login button{
    width: 240px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #167bff;
    color: white;
    margin-top: 10px;
}
p{
    display: inline-block;
    float: left;
    padding-left: 40px;
    margin: 0px;
}